.profile {
  margin: auto;
  margin-top: 20px;
  width: 400px;
  align-items: center;
  background: #f5f4fa;
  border-radius: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.description {
  margin: auto;
  width: 80%;
  padding: 20px;
}

.avatar {
  width: 60%;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
}

.name {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.66;
  color: #212121;
  text-align: center;
}

.tag {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  text-align: center;
  color: #757575;
}

.location {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.66;
  text-align: center;
  color: #757575;
}

.stats {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  background-color: #fff;
  border-top: 2px solid #afb1b8;
}

.stats li {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
}

.stats li:not(:last-child) {
  border-right: 2px solid #afb1b8;
}

.label {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.66;
  text-align: center;
  color: #757575;
}

.quantity {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.66;
  color: #212121;
  text-align: center;
}
